 html{
      background-image: url(images/camo.jpg);
  }

/*top navbar*/
.container{
    width: auto;
    color: black;
    font: 25px/1.3 'Oleo Script', Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid orange;
    background-image: url(images/skynight.jpg);
    background-position: left;
    box-sizing: border-box;
}


header h1:hover{
    color: orange;
    transition-property: color;
    transition-duration: 2s;
}

header nav ul li{
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    box-sizing: border-box;
}
li a:hover {
    border-top:2px solid purple;
    border-left:2px solid blue;
    border-right:2px solid red;
    border-bottom: 2px solid green;
    border-radius: 20px;
    transition-property: color border-left border-top border-right;
    transition-duration: 1s;
    color: orange;
}
li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
}



.group:before, .group:after {
    content: " ";
    display: block;
}

.group:after{
    clear: both;
}
.group {
    zoom: 1;
}

/*top navbar*/


/*body*/
.intro-container{
    color: white;
    width: auto;
    background-color: black;
    padding-left: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    border: 5px solid orange;
    box-sizing: border-box;
}

.newclass-text {
    font-size: 50px;
}

.newclass {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 450px;
    font: 400 80px/1.3 'Oleo Script', Helvetica, sans-serif;
}

.newclass:hover {
    border:  2px solid purple;
    border-radius: 10px;
    color: orange;
    transition-property: color border;
    transition-duration: 1s;
}
.logo {
    max-width: 400px;
    border-radius: 360px;
    border: 2px solid orange;
    margin-top: 30px;
    box-sizing: border-box;
    box-shadow: 10px  10px 25px orangered;
}

.logo:hover {
    border: 5px solid red;
    transition-property: border;
    transition-duration: 1s;
}

.intro-message:hover {
    background-image: linear-gradient(to bottom right, black, rgb(83, 56, 4));
    transition-property: background-image;
    transition-duration: 2s;
}

.intro-message {
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
    float: left;
    width: 480px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px orangered;
}

strong{
    color: orange;
}

em{
    color: orange;
}

.member-link{
    margin: 0 auto;
    color: white;
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
}

.member{
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}

.member:hover{
    width: fit-content;
    border:  2px solid purple;
    border-radius: 10px;
    color: orange;
    transition-property: color border;
    transition-duration: 1s;
}

.games{
    width: 560px;
    margin-right: auto;
    margin-left: auto;
}

.games h1{
    margin-top: 100px;
    font: 400 80px/1.3 'Oleo Script', Helvetica, sans-serif;
    box-sizing: border-box;
    width: fit-content;
}

.games h1:hover{
    width: fit-content;
    border:  2px solid purple;
    border-radius: 10px;
    color: orange;
    transition-property: color border;
    transition-duration: 1s;
}
.games h2{
    width: fit-content;
    padding: 5px;
}
.games h2:Hover{
    border:  2px solid purple;
    border-radius: 20px;
    color: orange;
    transition-property: color border;
    transition-duration: 1s;
}

.gta {
    width: 300px;
}
.apex{
    width: 300px;
}
.nms {
    margin-bottom: 50px;
    border-radius: 20px;
}
.nfs {
    width: 300px;
    border-radius: 20px;
}


.description {
    font-size: larger;
}


.gta:hover{
    border: 3px solid green;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 1;
    animation-name: fadeReturn;
    animation-duration: 1s;
}
.apex:hover{
    border: 3px solid red;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 1;
    animation-name: fadeReturn;
    animation-duration: 1s;
}

.nms:hover{
    border: 3px solid orangered;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 1;
    animation-name: fadeReturn;
    animation-duration: 1s;
}

.nfs:hover{
    border: 3px solid purple;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 1;
    animation-name: fadeReturn;
    animation-duration: 1s;
}
/*body*/

/*end*/
footer p{
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: orange;
    border-radius: 20px;
    border-top:2px solid purple;
    border-left:2px solid blue;
    border-right:2px solid red;
    border-bottom: 2px solid green;
}
/*end*/

/*responsiveness*/
@media screen and (max-width: 1300px){
    .container .intro-container{
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
        margin: auto;
    }
    .intro-message{
        width: auto;
        font-size: smaller;
        margin: auto;
        float: none;
    }
    .logo{
        width: 200px;
    }
    .games h1 {
        font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
    }

}

@media screen and (max-width: 1000px){
    .games h1{
        padding-right: 150px;
    }
    .game-image{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .description{
        max-width: 300px;
        margin-left: auto;
        margin-right: 200px;
    }
}

@media screen and (max-width: 850px){
    .container{
        color: white;
    }
    .intro-container{
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .intro-message{
        width: 450px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .games h1{
        font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .games p{
        width: 400px;
    }
    .game-image {
        width: 150px;
        animation-name: none;
        animation-duration: none;
        border: 3px solid green;
        border-radius: 20px;
    }
}

@media screen and(max-width:250px){
    .container{
        color: white;
    }
    .intro-container{
        padding-left: 0px;
        margin: 0;
    }
    .intro-message{
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .game-image {
        width: 100px;
        animation-name: none;
        animation-duration: none;
        border: 3px solid green;
        border-radius: 20px;
    }
}
/*responsiveness*/

/*animations*/
@keyframes fadeReturn {
    0%{
        opacity: 1;
    }
    15%{
        opacity: .75;
    }
    25%{
        opacity: .5;
    }
    40%{
        opacity: .25;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: .25;
    }
    75%{
        opacity: .5;
    }
    85%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
/*animations*/